## Week6: Digital Humanities
#### Group: Jennifer, Vedasri

In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

### Q1. , it is faster to store the stopwords into a list or a dictionary

Time taken to replace dictionary key to value :0.721041202545166's

Time taken to remove the List of stowords:1.6510944366455078's

As below observation we observed that removing list of stopwords taking more time then replacing dictionary of key to values

### Q2. Apply the na√Øve Bayes to solve the spam detection problem.

In [45]:
train = pd.read_csv('corpus/sms_spam.train.csv', delimiter=",")
print("Traing shape: ",train.shape)

test = pd.read_csv('corpus/sms_spam.test.csv', delimiter=",")
print("Test shape  : ",test.shape)
test.head(5)

Traing shape:  (5199, 2)
Test shape  :  (361, 2)

   type                                               text
0   ham           happened here while you were adventuring
1   ham  Ask g or iouri, I've told the story like ten t...
2   ham                             Sorry, I'll call later
3  spam  Great News! Call FREEFONE 08006344447 to claim...
4   ham  Dont know supports srt i thnk. I think ps3 can...

#### Class-wise training data

In [46]:
train['type'].value_counts(normalize=True)

ham     0.866513
spam    0.133487
Name: type, dtype: float64

#### Class-wise training data

In [47]:
test['type'].value_counts(normalize=True)

ham     0.853186
spam    0.146814
Name: type, dtype: float64

#### Cleaning the data

In [48]:
train_punctuation = train.copy()
train_punctuation['text'] = train['text'].str.replace('\W', ' ')

train_lower = train_punctuation.copy()
train_lower['text'] = train_punctuation['text'].str.lower()
train_lower.head(5)

c:\users\veda\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

   type                                               text
0   ham  hope you are having a good week  just checking in
1   ham                            k  give back my thanks
2   ham        am also doing in cbe only  but have to pay
3  spam  complimentary 4 star ibiza holiday or  10 000 ...
4  spam  okmail  dear dave this is your final notice to...

In [49]:


test_punctuation = test.copy()
test_punctuation['text'] = test['text'].str.replace('\W', ' ')

test_lower = test_punctuation.copy()
test_lower['text'] = test_punctuation['text'].str.lower()
test_lower.head(5)

c:\users\veda\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

   type                                               text
0   ham           happened here while you were adventuring
1   ham  ask g or iouri  i ve told the story like ten t...
2   ham                             sorry  i ll call later
3  spam  great news  call freefone 08006344447 to claim...
4   ham  dont know supports srt i thnk  i think ps3 can...

#### Calculating time taken to replace the dictionary keys to values

In [50]:
contractions = {
"ain't": "aim not",
"aren't": "are not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had",
"he'd've": "he would have",
"he'll": "he will",
"he'll've": "he will have",
"he's": "he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how is",
"i'd": "I had",
"i'd've": "I would have",
"i'll": "I will",
"i'll've": "I will have",
"i'm": "I am",
"i've": "I have",
"isn't": "is not",
"it'd": "it would",
"it'd've": "it would have",
"it'll": "it will",
"it'll've": "it will have",
"it's": "it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she would",
"she'd've": "she would have",
"she'll": "she will",
"she'll've": "she will have",
"she's": " she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as ",
"that'd": "that had",
"that'd've": "that would have",
"that's": "that is",
"there'd": "there would",
"there'd've": "there would have",
"there's": "there is",
"they'd": "they would",
"they'd've": "they would have",
"they'll": "they will",
"they'll've": "they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": " we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what will",
"what'll've": "what will have",
"what're": "what are",
"what's": "what is",
"what've": "what have",
"when's": "when is",
"when've": "when have",
"where'd": "where did",
"where's": "where is",
"where've": "where have",
"who'll": "who will",
"who'll've": "who will have",
"who's": " who is",
"who've": "who have",
"why's": " why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had",
"you'd've": "you would have",
"you'll": "you will",
"you'll've": "you will have",
"you're": "you are",
"you've": "you have"
}

#print(contractions.get("you have", "you have"))

train_lower_updated = train_lower.copy()

start = time.time()
contractions_array = []
for i, line in enumerate(train_lower['text']):
    tokens_without_contractions = [contractions.get(word, word) for word in line.split(" ")]
    
    train_lower_updated['text'][i] = (" ").join(tokens_without_contractions)
end = time.time()
total_dict = end - start
print("Time taken to replace dictionary key to value :{}'s".format(total_dict))

train_lower_updated.head(5)

Time taken to replace dictionary key to value :0.7170407772064209's

   type                                               text
0   ham  hope you are having a good week  just checking in
1   ham                            k  give back my thanks
2   ham        am also doing in cbe only  but have to pay
3  spam  complimentary 4 star ibiza holiday or  10 000 ...
4  spam  okmail  dear dave this is your final notice to...

#### Calculatin top 30 most occurance in ham and 30 spam features.

In [51]:
# converting to lower case

train_lower_only_word_tokens = train_lower.copy()

for i,s in enumerate(train_lower['text']):
    only_word_tokens = re.findall("[a-z]+", s, re.I)
    train_lower_only_word_tokens['text'][i] =  (" ").join(only_word_tokens)

train_lower_only_word_tokens.head(5)

   type                                               text
0   ham   hope you are having a good week just checking in
1   ham                              k give back my thanks
2   ham          am also doing in cbe only but have to pay
3  spam  complimentary star ibiza holiday or cash needs...
4  spam  okmail dear dave this is your final notice to ...

#### Calculating time taken to remove the words from file of list of string stop_words

In [52]:
# removing stop_words
import time

stop_words_1 = np.loadtxt('corpus/stopwords.txt', dtype='str')
train_remove_stop_words = train_lower_only_word_tokens.copy()

start = time.time()
for index,sms in enumerate(train_lower_only_word_tokens['text']):
    token_without_sw = [word for word in sms.split(" ") if word not in stop_words_1]
    train_remove_stop_words['text'][index] = (" ").join(token_without_sw)
end = time.time()
total = end - start
print("Time taken to remove the List of stowords:{}'s".format(total))

train_remove_stop_words.head(5)

Time taken to remove the List of stowords:1.5970911979675293's

   type                                               text
0   ham                            hope good week checking
1   ham                                 k give back thanks
2   ham                                       also cbe pay
3  spam  complimentary star ibiza holiday cash needs ur...
4  spam  okmail dear dave final notice collect tenerife...

In [53]:
# removing stop words

stop_words_2 = np.loadtxt('corpus/StopwordSMART.txt', dtype='str')
train_remove_stop_words_2 = train_remove_stop_words.copy()

for index, sms in enumerate(train_remove_stop_words['text']):
    token_without_sw = [word for word in sms.split(" ") if  word not in stop_words_2]
    train_remove_stop_words_2['text'][index] = (" ").join(token_without_sw) 
print(stop_words_2)
train_remove_stop_words_2.head(5)

['a' "a's" 'able' 'about' 'above' 'according' 'accordingly' 'across'
 'actually' 'after' 'afterwards' 'again' 'against' "ain't" 'all' 'allow'
 'allows' 'almost' 'alone' 'along' 'already' 'also' 'although' 'always'
 'am' 'among' 'amongst' 'an' 'and' 'another' 'any' 'anybody' 'anyhow'
 'anyone' 'anything' 'anyway' 'anyways' 'anywhere' 'apart' 'appear'
 'appreciate' 'appropriate' 'are' "aren't" 'around' 'as' 'aside' 'ask'
 'asking' 'associated' 'at' 'available' 'away' 'awfully' 'b' 'be' 'became'
 'because' 'become' 'becomes' 'becoming' 'been' 'before' 'beforehand'
 'behind' 'being' 'believe' 'below' 'beside' 'besides' 'best' 'better'
 'between' 'beyond' 'both' 'brief' 'but' 'by' 'c' "c'mon" "c's" 'came'
 'can' "can't" 'cannot' 'cant' 'cause' 'causes' 'certain' 'certainly'
 'changes' 'clearly' 'co' 'com' 'come' 'comes' 'concerning' 'consequently'
 'consider' 'considering' 'contain' 'containing' 'contains'
 'corresponding' 'could' "couldn't" 'course' 'currently' 'd' 'definitely'
 'described' 'despite' 'did' "didn't" 'different' 'do' 'does' "doesn't"
 'doing' "don't" 'done' 'down' 'downwards' 'during' 'e' 'each' 'edu' 'eg'
 'eight' 'either' 'else' 'elsewhere' 'enough' 'entirely' 'especially' 'et'
 'etc' 'even' 'ever' 'every' 'everybody' 'everyone' 'everything'
 'everywhere' 'ex' 'exactly' 'example' 'except' 'f' 'far' 'few' 'fifth'
 'first' 'five' 'followed' 'following' 'follows' 'for' 'former' 'formerly'
 'forth' 'four' 'from' 'further' 'furthermore' 'g' 'get' 'gets' 'getting'
 'given' 'gives' 'go' 'goes' 'going' 'gone' 'got' 'gotten' 'greetings' 'h'
 'had' "hadn't" 'happens' 'hardly' 'has' "hasn't" 'have' "haven't"
 'having' 'he' "he's" 'hello' 'help' 'hence' 'her' 'here' "here's"
 'hereafter' 'hereby' 'herein' 'hereupon' 'hers' 'herself' 'hi' 'him'
 'himself' 'his' 'hither' 'hopefully' 'how' 'howbeit' 'however' 'i' "i'd"
 "i'll" "i'm" "i've" 'ie' 'if' 'ignored' 'immediate' 'in' 'inasmuch' 'inc'
 'indeed' 'indicate' 'indicated' 'indicates' 'inner' 'insofar' 'instead'
 'into' 'inward' 'is' "isn't" 'it' "it'd" "it'll" "it's" 'its' 'itself'
 'j' 'just' 'k' 'keep' 'keeps' 'kept' 'know' 'knows' 'known' 'l' 'last'
 'lately' 'later' 'latter' 'latterly' 'least' 'less' 'lest' 'let' "let's"
 'like' 'liked' 'likely' 'little' 'look' 'looking' 'looks' 'ltd' 'm'
 'mainly' 'many' 'may' 'maybe' 'me' 'mean' 'meanwhile' 'merely' 'might'
 'more' 'moreover' 'most' 'mostly' 'much' 'must' 'my' 'myself' 'n' 'name'
 'namely' 'nd' 'near' 'nearly' 'necessary' 'need' 'needs' 'neither'
 'never' 'nevertheless' 'new' 'next' 'nine' 'no' 'nobody' 'non' 'none'
 'noone' 'nor' 'normally' 'not' 'nothing' 'novel' 'now' 'nowhere' 'o'
 'obviously' 'of' 'off' 'often' 'oh' 'ok' 'okay' 'old' 'on' 'once' 'one'
 'ones' 'only' 'onto' 'or' 'other' 'others' 'otherwise' 'ought' 'our'
 'ours' 'ourselves' 'out' 'outside' 'over' 'overall' 'own' 'p'
 'particular' 'particularly' 'per' 'perhaps' 'placed' 'please' 'plus'
 'possible' 'presumably' 'probably' 'provides' 'q' 'que' 'quite' 'r'
 'rather' 'rd' 're' 'really' 'reasonably' 'regarding' 'regardless'
 'regards' 'relatively' 'respectively' 'right' 's' 'said' 'same' 'saw'
 'say' 'saying' 'says' 'second' 'secondly' 'see' 'seeing' 'seem' 'seemed'
 'seeming' 'seems' 'seen' 'self' 'selves' 'sensible' 'sent' 'serious'
 'seriously' 'seven' 'several' 'shall' 'she' 'should' "shouldn't" 'since'
 'six' 'so' 'some' 'somebody' 'somehow' 'someone' 'something' 'sometime'
 'sometimes' 'somewhat' 'somewhere' 'soon' 'sorry' 'specified' 'specify'
 'specifying' 'still' 'sub' 'such' 'sup' 'sure' 't' "t's" 'take' 'taken'
 'tell' 'tends' 'th' 'than' 'thank' 'thanks' 'thanx' 'that' "that's"
 'thats' 'the' 'their' 'theirs' 'them' 'themselves' 'then' 'thence'
 'there' "there's" 'thereafter' 'thereby' 'therefore' 'therein' 'theres'
 'thereupon' 'these' 'they' "they'd" "they'll" "they're" "they've" 'think'
 'third' 'this' 'thorough' 'thoroughly' 'those' 'though' 'three' 'through'
 'throughout' 'thru' 'thus' 'to' 'together' 'too' 'took' 'toward'
 'towards' 'tried' 'tries' 'truly' 'try' 'trying' 'twice' 'two' 'u' 'un'
 'under' 'unfortunately' 'unless' 'unlikely' 'until' 'unto' 'up' 'upon'
 'us' 'use' 'used' 'useful' 'uses' 'using' 'usually' 'uucp' 'v' 'value'
 'various' 'very' 'via' 'viz' 'vs' 'w' 'want' 'wants' 'was' "wasn't" 'way'
 'we' "we'd" "we'll" "we're" "we've" 'welcome' 'well' 'went' 'were'
 "weren't" 'what' "what's" 'whatever' 'when' 'whence' 'whenever' 'where'
 "where's" 'whereafter' 'whereas' 'whereby' 'wherein' 'whereupon'
 'wherever' 'whether' 'which' 'while' 'whither' 'who' "who's" 'whoever'
 'whole' 'whom' 'whose' 'why' 'will' 'willing' 'wish' 'with' 'within'
 'without' "won't" 'wonder' 'would' 'would' "wouldn't" 'x' 'y' 'yes' 'yet'
 'you' "you'd" "you'll" "you're" "you've" 'your' 'yours' 'yourself'
 'yourselves' 'z' 'zero']

   type                                               text
0   ham                            hope good week checking
1   ham                                          give back
2   ham                                            cbe pay
3  spam  complimentary star ibiza holiday cash urgent c...
4  spam  okmail dear dave final notice collect tenerife...

In [54]:
ham_tokens = train_remove_stop_words_2.loc[train_remove_stop_words_2['type'] == 'ham']
print("Total no. of hams in training set: ",len(ham_tokens))
spam_tokens = train_remove_stop_words_2.loc[train_remove_stop_words_2['type'] == 'spam']
print("Total no. of Spams in training set:",len(spam_tokens))

Total no. of hams in training set:  4505
Total no. of Spams in training set: 694

In [55]:
from collections import Counter
words_all = []

for i, words in enumerate(ham_tokens['text']):
    total_words = words.split(" ")
    for w in total_words: 
        words_all.append(w)
        
words_dict = Counter(words_all)
dict_sorted = {k: v for k, v in sorted(words_dict.items(), key=lambda item: item[1], reverse=True)}

#print(dict_sorted)
words_ham_30 = list(dict_sorted.keys())[:30]
print(words_ham_30)

['ur', 'call', 'good', 'day', 'love', 'time', 'home', 'lor', 'da', 'dont', 'today', 'back', 'send', 'pls', 'night', 'hey', 'wat', 'dear', 'happy', 'hope', '', 'great', 'give', 'work', 'yeah', 'make', 'im', 'morning', 'phone', 'tomorrow']

In [56]:
words_all = []

for i, words in enumerate(spam_tokens['text']):
    total_words = words.split(" ")
    for w in total_words: 
        words_all.append(w)
        
words_dict = Counter(words_all)
dict_sorted = {k: v for k, v in sorted(words_dict.items(), key=lambda item: item[1], reverse=True)}
words_spam_30 = list(dict_sorted.keys())[:30]
print(words_spam_30)

['call', 'free', 'txt', 'ur', 'stop', 'mobile', 'text', 'claim', 'reply', 'www', 'prize', 'uk', 'send', 'cash', 'win', 'nokia', 'urgent', 'contact', 'msg', 'tone', 'week', 'service', 'box', 'guaranteed', 'customer', 'ppm', 'mins', 'phone', 'cs', 'chat']

In [57]:
#list(set(words_spam_30).intersection(words_ham_30))

#### Train Naive bays classfier on top 30 ham and top 30 ham words

In [58]:
# Creating the vocabulary

train_lower['text'] = train_lower['text'].str.split()

vocabulary = []
for sms in train_lower['text']:
    for word in sms:
        vocabulary.append(word)

vocabulary = list(set(vocabulary))
len(vocabulary)

8384

In [59]:
# Creating word counts per test

top_30_features = words_spam_30+ words_ham_30
word_counts_per_sms = {unique_word: [0] * len(train_lower['text']) for unique_word in top_30_features}

#print(train_lower['text'])

for index, sms in enumerate(train_lower['text']):
    for word in sms:
        if word in top_30_features:
            word_counts_per_sms[word][index] += 1

In [60]:
# Transformation of training set

word_counts = pd.DataFrame(word_counts_per_sms)
word_counts.head()

,call,free,txt,ur,stop,mobile,text,claim,reply,www,...,hope,,great,give,work,yeah,make,im,morning,tomorrow
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
# Concatinating Label, text to word-counts

training_set_clean = pd.concat([train_lower['type'], word_counts], axis=1)
training_set_clean['Words'] = train_lower['text']
training_set_clean.head(5)

,type,call,free,txt,ur,stop,mobile,text,claim,reply,...,,great,give,work,yeah,make,im,morning,tomorrow,Words
0,ham,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"[hope, you, are, having, a, good, week, just, ..."
1,ham,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,"[k, give, back, my, thanks]"
2,ham,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"[am, also, doing, in, cbe, only, but, have, to..."
3,spam,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"[complimentary, 4, star, ibiza, holiday, or, 1..."
4,spam,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"[okmail, dear, dave, this, is, your, final, no..."

In [62]:
# Isolating spam and ham messages first

spam_messages = training_set_clean[training_set_clean['type'] == 'spam']
ham_messages = training_set_clean[training_set_clean['type'] == 'ham']
spam_messages.head(5)

# P(Spam) and P(Ham)
p_spam = len(spam_messages) / len(training_set_clean)
p_ham = len(ham_messages) / len(training_set_clean)

# # N_Spam
n_words_per_spam_message = spam_messages['Words'].apply(len)
n_spam = n_words_per_spam_message.sum()

# # N_Ham
n_words_per_ham_message = ham_messages['Words'].apply(len)
n_ham = n_words_per_ham_message.sum()

# # N_Vocabulary
n_vocabulary = len(top_30_features)

# # Laplace smoothing
alpha = 1

In [63]:
# Initiate parameters
parameters_spam = {unique_word:0 for unique_word in top_30_features}
parameters_ham = {unique_word:0 for unique_word in top_30_features}

# Calculate parameters
for word in top_30_features:
    n_word_given_spam = spam_messages[word].sum() # spam_messages already defined
    
    #print( word, n_word_given_spam )
    p_word_given_spam = (n_word_given_spam + alpha) / (n_spam + alpha*n_vocabulary)
    parameters_spam[word] = p_word_given_spam

    n_word_given_ham = ham_messages[word].sum() # ham_messages already defined
    p_word_given_ham = (n_word_given_ham + alpha) / (n_ham + alpha*n_vocabulary)
    parameters_ham[word] = p_word_given_ham

In [64]:
def classify(message):
    '''
    message: a string
    '''

    message = re.sub('\W', ' ', message)
    message = message.lower().split()

    p_spam_given_message = p_spam
    p_ham_given_message = p_ham

    for word in message:
        if word in parameters_spam:
             p_spam_given_message *= parameters_spam[word]

        if word in parameters_ham: 
             p_ham_given_message *= parameters_ham[word]

    print('P(Spam|message):', p_spam_given_message)
    print('P(Ham|message):', p_ham_given_message)

    if p_ham_given_message > p_spam_given_message:
        print('Label: Ham')
    
    elif p_ham_given_message < p_spam_given_message:
        print('Label: Spam')
    else:
        print('Equal proabilities, have a human classify this!')

In [65]:
def classify_test_set(message):
    '''
    message: a string
    '''

    message = re.sub('\W', ' ', message)
    message = message.lower().split()

    p_spam_given_message = p_spam
    p_ham_given_message = p_ham

    for word in message:
        if word in parameters_spam:
            p_spam_given_message *= parameters_spam[word]

        if word in parameters_ham:
            p_ham_given_message *= parameters_ham[word]

    if p_ham_given_message > p_spam_given_message:
        return 'ham'
    elif p_spam_given_message > p_ham_given_message:
        return 'spam'
    else:
        return 'needs human classification'

In [66]:
test_lower['predicted'] = test_lower['text'].apply(classify_test_set)
test_lower.head()

   type                                               text predicted
0   ham           happened here while you were adventuring       ham
1   ham  ask g or iouri  i ve told the story like ten t...       ham
2   ham                             sorry  i ll call later       ham
3  spam  great news  call freefone 08006344447 to claim...      spam
4   ham  dont know supports srt i thnk  i think ps3 can...       ham

In [67]:
correct = 0
total = test_lower.shape[0]

for row in test_lower.iterrows():
    row = row[1]
    if row['type'] == row['predicted']:
        correct += 1

print('Correct   : {}/{}'.format(correct, total))
print('Incorrect : {}/{}'.format(total-correct, total))
print('Accuracy  : {:.2f}%'.format(100*correct/total))

Correct   : 344/361
Incorrect : 17/361
Accuracy  : 95.29%

### Apply the na√Øve Bayes to solve the authorship attribution problem related to the Federalist Papers (federalist-papersNew2.csv) with the twelve disputed papers.

In [68]:
import scipy.special
import itertools

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.naive_bayes import GaussianNB

In [69]:
clf= GaussianNB()
le = preprocessing.LabelEncoder()

In [70]:
df = pd.read_csv('corpus/federalist-papersNew2.csv', index_col=0)
words_of_interest = ['upon', 'to', 'would','while','up']
df[words_of_interest].head()

   upon  to  would  while  up
1     6  72      2      0   0
2     1  53      5      1   0
3     0  56      2      0   0
4     0  51     17      0   0
5     0  45     37      0   0

In [71]:
fed = disputed_essays = df[df['AUTHOR'] == 'Hamilton OR Madison'].index
assert len(disputed_essays) == 12  # there are twelve disputed essays
# numbers widely used to identify the essays
assert set(disputed_essays) == {49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 62, 63}

In [72]:
fed = df_known = df.loc[df['AUTHOR'].isin(('Hamilton', 'Madison'))]
print(df_known['AUTHOR'].value_counts())
fed

Hamilton    51
Madison     14
Name: AUTHOR, dtype: int64

,000,1,10,100,104,105,109,11,114,115,...,young,your,yourself,yourselves,zaleucus,zeal,zealand,zealous,zelden,AUTHOR
1,0,2,0,0,0,0,0,0,0,0,...,0,10,0,0,0,3,0,0,0,Hamilton
6,0,2,2,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,Hamilton
7,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,Hamilton
8,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Hamilton
9,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Hamilton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Hamilton
82,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Hamilton
83,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Hamilton
84,0,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,Hamilton
85,0,2,0,0,0,0,0,0,0,0,...,0,4,0,0,0,1,0,2,0,Hamilton

In [73]:
known_pap=fed[['upon','would','to','while','up','AUTHOR']]
#known_pap.head()

#known_pap=known_pap.groupby('AUTHOR').sum()
#known_pap['Subset_length'] = known_pap.sum(axis=1)
known_pap['Author_Group']=le.fit_transform(known_pap['AUTHOR'])
known_pap=known_pap.drop('AUTHOR', axis=1)
known_pap


upon_prob_ham=known_pap[ known_pap['Author_Group']==0]
upon_prob=upon_prob_ham['upon'].sum()
print(upon_prob)
#total_sum_ham=
deno_ham=np.sum(upon_prob_ham.sum(),axis=0)
deno_ham

374

c:\users\veda\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

5957

In [74]:
disputed_essays = df[df['AUTHOR'] == 'Hamilton OR Madison']
disputed_essays.head()

,000,1,10,100,104,105,109,11,114,115,...,young,your,yourself,yourselves,zaleucus,zeal,zealand,zealous,zelden,AUTHOR
49,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Hamilton OR Madison
50,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Hamilton OR Madison
51,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Hamilton OR Madison
52,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Hamilton OR Madison
53,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,Hamilton OR Madison

In [75]:
disp_essays=disputed_essays[['upon','would','to','while','up','AUTHOR']]
disp_essays

    upon  would  to  while  up               AUTHOR
49     0     22  58      0   0  Hamilton OR Madison
50     1     11  28      0   0  Hamilton OR Madison
51     0      9  50      0   0  Hamilton OR Madison
52     0      8  72      0   0  Hamilton OR Madison
53     0      6  73      0   0  Hamilton OR Madison
54     2      6  61      0   0  Hamilton OR Madison
55     0     10  78      0   1  Hamilton OR Madison
56     0      4  39      0   0  Hamilton OR Madison
57     0      6  74      0   0  Hamilton OR Madison
58     0     12  61      0   0  Hamilton OR Madison
62     0      5  82      0   0  Hamilton OR Madison
63     0     11  88      0   2  Hamilton OR Madison

In [76]:
known_pap.head()

   upon  would  to  while  up  Author_Group
1     6      2  72      0   0             0
6     4      6  58      0   0             0
7    11     51  82      0   1             0
8     3     27  80      0   3             0
9     4      8  71      1   0             0

In [77]:
disp_essay_test=disp_essays.drop('AUTHOR',axis=1)
disputed_essays = df[df['AUTHOR'] == 'Hamilton OR Madison']

print(disp_essay_test.iloc[0].loc['upon'])
disp_essay_test.iloc[0]

0

upon      0
would    22
to       58
while     0
up        0
Name: 49, dtype: int64

#### Naive Bayes Model with different attributes:

1. Calculate prior for all catergories of the Output
2. Calculate the conditional probability for each category for each attribute
3. Sumthe log of conditional probability and prior for each catergory
4. Obtain the argmax for the 
5. Repeat steps for each test sample.

In [78]:
def prior(df,Y):
    classes= df[Y].unique()
    prior=[]
    for category in classes:
        prior.append(len(df[df[Y]==category])/len(df))
        #print(prior)
    return prior
def conditional_probability(df,feat_name,feat_val,Y,label):
    feat=list(df.columns)
    df=df[df[Y]==label]
    alpha=1
    num= df[feat_name].sum()+1
    dem=np.sum(df.sum(),axis=0)+feat_val
    print('prob= ',num/dem)
    return np.log(num/dem)

def naive_bayes(df,X_test,Category):
    features= list(df.columns)[:-1]
    classes=df[Category].unique()
    priors=[]
    priors=prior(df,Category)
    print(priors)
    Y_pred=[]
    
    for x in range(len(X_test)):
        print('value x=  ',x)
       
        classes=list(df[Category].unique())
        posteriors=[]
        
        for i in range((len(classes))):
            posterior=0
            
            cond_prob=0
            for j in range(len(features)):
                count=X_test.iloc[x].loc[features[j]]
                print(cond_prob,'features :=',features[j], x,count)
                cond_prob+=count*conditional_probability(df,features[j],len(features),Category,classes[i])
            posterior=np.log(priors[i])+cond_prob
            posteriors.append(posterior)
            print('posteriors',posteriors)
        Y_pred.append(np.argmax(posteriors))
    return np.array(Y_pred)


df=known_pap    
X_test=disp_essay_test
naive_bayes(df,X_test,Category='Author_Group')
#X_train=known_pap[['upon','would','to','while','up']]
#Y_train=known_pap['Author_Group']
#fit(X_train,Y_train)

[0.7846153846153846, 0.2153846153846154]
value x=   0
0 features := upon 0 0
prob=  0.06289835625628984
0.0 features := would 0 22
prob=  0.1559879235155988
-40.875487137995734 features := to 0 58
prob=  0.7690372358269038
-56.10720873174792 features := while 0 0
prob=  0.006205971150620597
-56.10720873174792 features := up 0 0
prob=  0.005870513250587051
posteriors [-56.34977036891923]
0 features := upon 0 0
prob=  0.005521048999309869
0.0 features := would 0 22
prob=  0.11042097998619738
-48.476012795910826 features := to 0 58
prob=  0.8709454796411318
-56.490214950643214 features := while 0 0
prob=  0.0006901311249137336
-56.490214950643214 features := up 0 0
prob=  0.0027605244996549345
posteriors [-56.34977036891923, -58.02554489092359]
value x=   1
0 features := upon 1 1
prob=  0.06289835625628984
-2.766235248267606 features := would 1 11
prob=  0.1559879235155988
-23.203978817265472 features := to 1 28
prob=  0.7690372358269038
-30.557223724594113 features := while 1 0
prob=  0.006205971150620597
-30.557223724594113 features := up 1 0
prob=  0.005870513250587051
posteriors [-30.799785361765423]
0 features := upon 1 1
prob=  0.005521048999309869
-5.199187400640846 features := would 1 11
prob=  0.11042097998619738
-29.437193798596258 features := to 1 28
prob=  0.8709454796411318
-33.30611897674293 features := while 1 0
prob=  0.0006901311249137336
-33.30611897674293 features := up 1 0
prob=  0.0027605244996549345
posteriors [-30.799785361765423, -34.84144891702331]
value x=   2
0 features := upon 2 0
prob=  0.06289835625628984
0.0 features := would 2 9
prob=  0.1559879235155988
-16.721790192816435 features := to 2 50
prob=  0.7690372358269038
-29.85258467018901 features := while 2 0
prob=  0.006205971150620597
-29.85258467018901 features := up 2 0
prob=  0.005870513250587051
posteriors [-30.09514630736032]
0 features := upon 2 0
prob=  0.005521048999309869
0.0 features := would 2 9
prob=  0.11042097998619738
-19.8310961437817 features := to 2 50
prob=  0.8709454796411318
-26.7398911047579 features := while 2 0
prob=  0.0006901311249137336
-26.7398911047579 features := up 2 0
prob=  0.0027605244996549345
posteriors [-30.09514630736032, -28.275221045038275]
value x=   3
0 features := upon 3 0
prob=  0.06289835625628984
0.0 features := would 3 8
prob=  0.1559879235155988
-14.863813504725721 features := to 3 72
prob=  0.7690372358269038
-33.772157552142225 features := while 3 0
prob=  0.006205971150620597
-33.772157552142225 features := up 3 0
prob=  0.005870513250587051
posteriors [-34.01471918931354]
0 features := upon 3 0
prob=  0.005521048999309869
0.0 features := would 3 8
prob=  0.11042097998619738
-17.627641016694845 features := to 3 72
prob=  0.8709454796411318
-27.576305760500567 features := while 3 0
prob=  0.0006901311249137336
-27.576305760500567 features := up 3 0
prob=  0.0027605244996549345
posteriors [-34.01471918931354, -29.111635700780944]
value x=   4
0 features := upon 4 0
prob=  0.06289835625628984
0.0 features := would 4 6
prob=  0.1559879235155988
-11.147860128544291 features := to 4 73
prob=  0.7690372358269038
-30.31882006550825 features := while 4 0
prob=  0.006205971150620597
-30.31882006550825 features := up 4 0
prob=  0.005870513250587051
posteriors [-30.561381702679558]
0 features := upon 4 0
prob=  0.005521048999309869
0.0 features := would 4 6
prob=  0.11042097998619738
-13.220730762521134 features := to 4 73
prob=  0.8709454796411318
-23.307571405546383 features := while 4 0
prob=  0.0006901311249137336
-23.307571405546383 features := up 4 0
prob=  0.0027605244996549345
posteriors [-30.561381702679558, -24.84290134582676]
value x=   5
0 features := upon 5 2
prob=  0.06289835625628984
-5.532470496535212 features := would 5 6
prob=  0.1559879235155988
-16.680330625079502 features := to 5 61
prob=  0.7690372358269038
-32.69989988747405 features := while 5 0
prob=  0.006205971150620597
-32.69989988747405 features := up 5 0
prob=  0.005870513250587051
posteriors [-32.94246152464536]
0 features := upon 5 2
prob=  0.005521048999309869
-10.398374801281692 features := would 5 6
prob=  0.11042097998619738
-23.619105563802826 features := to 5 61
prob=  0.8709454796411318
-32.047835416193784 features := while 5 0
prob=  0.0006901311249137336
-32.047835416193784 features := up 5 0
prob=  0.0027605244996549345
posteriors [-32.94246152464536, -33.58316535647416]
value x=   6
0 features := upon 6 0
prob=  0.06289835625628984
0.0 features := would 6 10
prob=  0.1559879235155988
-18.57976688090715 features := to 6 78
prob=  0.7690372358269038
-39.06380626560836 features := while 6 0
prob=  0.006205971150620597
-39.06380626560836 features := up 6 1
prob=  0.005870513250587051
posteriors [-44.44418111552828]
0 features := upon 6 0
prob=  0.005521048999309869
0.0 features := would 6 10
prob=  0.11042097998619738
-22.034551270868555 features := to 6 78
prob=  0.8709454796411318
-32.812271409991425 features := while 6 0
prob=  0.0006901311249137336
-32.812271409991425 features := up 6 1
prob=  0.0027605244996549345
posteriors [-44.44418111552828, -40.239935931472594]
value x=   7
0 features := upon 7 0
prob=  0.06289835625628984
0.0 features := would 7 4
prob=  0.1559879235155988
-7.431906752362861 features := to 7 39
prob=  0.7690372358269038
-17.67392644471347 features := while 7 0
prob=  0.006205971150620597
-17.67392644471347 features := up 7 0
prob=  0.005870513250587051
posteriors [-17.91648808188478]
0 features := upon 7 0
prob=  0.005521048999309869
0.0 features := would 7 4
prob=  0.11042097998619738
-8.813820508347423 features := to 7 39
prob=  0.8709454796411318
-14.202680577908858 features := while 7 0
prob=  0.0006901311249137336
-14.202680577908858 features := up 7 0
prob=  0.0027605244996549345
posteriors [-17.91648808188478, -15.738010518189236]
value x=   8
0 features := upon 8 0
prob=  0.06289835625628984
0.0 features := would 8 6
prob=  0.1559879235155988
-11.147860128544291 features := to 8 74
prob=  0.7690372358269038
-30.5814359550557 features := while 8 0
prob=  0.006205971150620597
-30.5814359550557 features := up 8 0
prob=  0.005870513250587051
posteriors [-30.82399759222701]
0 features := upon 8 0
prob=  0.005521048999309869
0.0 features := would 8 6
prob=  0.11042097998619738
-13.220730762521134 features := to 8 74
prob=  0.8709454796411318
-23.445747304765906 features := while 8 0
prob=  0.0006901311249137336
-23.445747304765906 features := up 8 0
prob=  0.0027605244996549345
posteriors [-30.82399759222701, -24.981077245046283]
value x=   9
0 features := upon 9 0
prob=  0.06289835625628984
0.0 features := would 9 12
prob=  0.1559879235155988
-22.295720257088583 features := to 9 61
prob=  0.7690372358269038
-38.31528951948312 features := while 9 0
prob=  0.006205971150620597
-38.31528951948312 features := up 9 0
prob=  0.005870513250587051
posteriors [-38.557851156654436]
0 features := upon 9 0
prob=  0.005521048999309869
0.0 features := would 9 12
prob=  0.11042097998619738
-26.441461525042268 features := to 9 61
prob=  0.8709454796411318
-34.87019137743323 features := while 9 0
prob=  0.0006901311249137336
-34.87019137743323 features := up 9 0
prob=  0.0027605244996549345
posteriors [-38.557851156654436, -36.40552131771361]
value x=   10
0 features := upon 10 0
prob=  0.06289835625628984
0.0 features := would 10 5
prob=  0.1559879235155988
-9.289883440453576 features := to 10 82
prob=  0.7690372358269038
-30.824386383344596 features := while 10 0
prob=  0.006205971150620597
-30.824386383344596 features := up 10 0
prob=  0.005870513250587051
posteriors [-31.066948020515905]
0 features := upon 10 0
prob=  0.005521048999309869
0.0 features := would 10 5
prob=  0.11042097998619738
-11.017275635434277 features := to 10 82
prob=  0.8709454796411318
-22.34769937143524 features := while 10 0
prob=  0.0006901311249137336
-22.34769937143524 features := up 10 0
prob=  0.0027605244996549345
posteriors [-31.066948020515905, -23.883029311715617]
value x=   11
0 features := upon 11 0
prob=  0.06289835625628984
0.0 features := would 11 11
prob=  0.1559879235155988
-20.437743568997867 features := to 11 88
prob=  0.7690372358269038
-43.5479418491736 features := while 11 0
prob=  0.006205971150620597
-43.5479418491736 features := up 11 2
prob=  0.005870513250587051
posteriors [-54.06612991184212]
0 features := upon 11 0
prob=  0.005521048999309869
0.0 features := would 11 11
prob=  0.11042097998619738
-24.238006397955413 features := to 11 88

prob=  0.8709454796411318
-36.397485529273524 features := while 11 0
prob=  0.0006901311249137336
-36.397485529273524 features := up 11 2
prob=  0.0027605244996549345
posteriors [-54.06612991184212, -49.717484631955486]

array([0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1], dtype=int64)

In [80]:
# X_train=known_pap[['upon','would','to','while','up']]
# Y_train=known_pap['Author_Group']
# X_test=disp_essay_
# clf.fit(X_train,Y_train)
# y_pred=clf.predict(X_test)
# y_pred

In [81]:
Y_train=known_pap['Author_Group']
Y_train.head()

1    0
6    0
7    0
8    0
9    0
Name: Author_Group, dtype: int32

In [82]:
Y_train.unique()

array([0, 1])

In [83]:
Y_train.value_counts

<bound method IndexOpsMixin.value_counts of 1     0
6     0
7     0
8     0
9     0
     ..
81    0
82    0
83    0
84    0
85    0
Name: Author_Group, Length: 65, dtype: int32>

In [84]:
def fit(X,Y):
    n_sample,n_feature=X.shape
    classes= np.unique(Y)
    n_classes=len(classes)
    #for c in np.unique(Y):
    mean_all=np.zeros((n_classes,n_feature),dtype=np.float64)    
    var_all=np.zeros((n_classes,n_feature),dtype=np.float64)    
    priors_all=np.zeros(n_classes,dtype=np.float64)
    
    for c in classes:
        X_c=X[c==Y]
        mean_all[c,:]=X_c.mean(axis=0)
        var_all[c,:]=X_c.var(axis=0)
        priors_all[c]=X_C.shape[0]/float(n_sample)
   # return var_all[1,]
def predit(X_test):
    y_pred=np.zeros(len(X_test),dtype=np.float64)
    for x in X_test:
        posteriors=[]
        
        for index,col in enumerate(classes):
                prior=np.log(priors_all[index])
                class_conditional= np.sum(np.log(pdf(index,x)))
                posterior=prior+class_conditional
                posteriors.append(posterior)
        y_pred.append(np.argmax(posteriors))
    return y_pred

def pdf(index,x):
    mean= mean_all[index]
    var=var_all[index]